.mbr-figure-custom{
  display: inline-block;
  margin: 0;
  max-width: 50%;
  overflow: hidden;
  position: relative;
}
.desc-principal{
      padding-top: 1em;
    text-align: center;
    font-size: medium;
}

.mbr-header__text-custom{
    color: rgb(255, 255, 255);
    font-size: x-large !important;
    text-shadow: 4px 1px 11px #000000, 1px 2px 11px #000000, 0px 0px 11px #000000;  
}

.btn-danger:hover{
      /* color: #ffffff; */
      background-color: #F50087;
      border-color: #F50087;
}

.btn-danger {
    border-color: #ba00ba;
    color: #ffffff;
    background-color: transparent;
    border-color: #fff;
} 

.carta {
  height: 100%;
  width: 100%;
  position: relative; /*con esto y position absolute hago que el lado de adelante y atras esten pegados*/
  transform-style: preserve-3d;/*para que los elementos se conviertan en 3d*/
  transition: 1s;/*el dado vuelta es decir la transicion va a ser de 2 seg*/
  background-color: transparent;
  z-index: 9999;
}    

.img-flecha{
   height: 28em;
}
.contenedor {
  height: 250px;
  width: 250px;
  margin: auto;
    -webkit-perspective: 700; /*con esto hace que la perspectiva sea en 3d*/
    background-color: transparent;

    }
.img-carta {
  z-index: -1;
  height: 100%;
  background-color: transparent;
}

.carta:hover {
  transform: rotateY(180deg); /*cuando pase el cursor se va a dar vuelta y voy a ver la parte de la carta de atras*/
  background-color: transparent;
}

.lado {
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /*propiedad para ocultar la parte que esta atras*/
  position: absolute;
  background-color: transparent;
  z-index: -1;
}

.frente {

background-color: transparent;

z-index: -1;
}


.atras {
  
transform: rotateY(180deg);
  
border-radius: 12px;
  
background-color: transparent;
  
color: white;
}
.atras a:link{
    border-radius: 8px;
    height: 30px;
    width: 30px;
    border: 2px #ffffff solid;
    background-color: #ffffff;
     text-decoration: none;
}



.atras{
  padding-top: 56px;
}

.flecha-abajo{
  position: relative;
      top: -245px;
    left: 82px;
}
.flecha-arriba{
      position: relative;
   left: 6em;
    bottom: 26em;
}
.contenedor-carta{
  overflow: visible !important;
}

@media (max-width: 768px) {
  .flecha-abajo{
    position: relative;
  top: -262px !important;
    left: -86px !important;
      transform: rotateZ(90deg);
  }
  .flecha-arriba{
      position: relative;
         left: 4em;
    bottom: 19em;
      transform: rotateZ(90deg);
  }
}

